h1 {
  text-align: left;
  border: solid;
  font-family: "Archivo Narrow", sans-serif;
}


body {
    font-family: "Archivo Narrow", sans-serif;
}

h2 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
}

h2 + p {
    font-size: 30px;
} 

header {
    font-weight: bold;
    text-align: center;
}

h4 {
    background-color: blue;
    font-weight: bold;
    font-size: ;
    text-transform: uppercase;
}

main {
 columns: 3 auto;
}

