/*RESET AND BASE STYLES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background:
    repeating-linear-gradient(
      45deg,
      #bc6595 0,
      #ffffff 20px,
      #000000 20px,
      #ef97c3 40px
    );
}

/*HEADER AND NAVIGATION*/

header {
  background: linear-gradient(180deg, #ffd6eb, #ffe6f7 100%);
  border-bottom: 4px solid white;
  box-shadow: 0 4px 10px rgba(255, 150, 200, 0.4);
  padding: 2rem 1rem;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  color: rgb(249, 244, 246);
  text-shadow: 0 0 10px #ff6fcf;
}

header h2 {
   font-size: 1.2rem;
   color: rgb(124, 72, 94);
   opacity: 0.9;
   margin-top: 0.5rem;
}

nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  background: linear-gradient( 90deg,#ffb8e8, #ffd6eb);
  border-radius: 50px;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

nav a {
  color: rgb(72, 1, 43);
  text-decoration: none; /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration */
  padding: 0.5rem 1 rem;
  font-weight: bold;
  border-radius: 25px;
}

nav a:hover {
  background: white;
  color: #d437a0;
  box-shadow: 0 0 10px #ff6fcf;
}

/*MAIN CONTENT OF PAGE*/
main {

main {
  display: grid;
  grid-template-columns: 1fr, 2fr;
  gap: 2rem;
  padding: 0;
  justify-items: center;
  width: 100%;
  }

}

.container {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  box-shadow: 0 4px 15px rgba(248, 8, 124, 0.8);
  padding: 5rem;
  width: 100%;
  max-width: none;
}

h2, h3, h4 {
  color: #13010a;
  text-shadow: 0 0 8px #ef04a9;
}

a {
  color: #711753
}

a:hover {
  color: #ffb8e8;
  text-decoration: underline;
}


/*ASIDE & FOOTER*/
aside, footer {
    background: linear-gradient(145deg, #f8bae5, #ff9ad9);
    color: rgb(249, 2, 121);
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(255, 177, 215, 0.7);
    padding: 1rem;
}

#styles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

footer a {
  color: rgb(167, 38, 111);
  font-weight: bold;
}

/*MEDIA LAYOUTS
  DESKTOP VIEW*/
@media (min-width: 700px) {
  main {
    grid-template-columns: 2fr, 1fr;
  }

  nav ul {
    justify-content: space-around; 
  }
  header h1 {
    font-size: 3rem;
  }
}

/*MOBILE LAYOUT*/
@media (max-width: 699px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    font-size: 2rem;
  }
}

.link-github svg {
  width: 300px;
  height: 300px;
}
