@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Box-sizing reset (https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/) */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html {
	font-family: "Open Sans", sans-serif;
}
#container {
	width: 80%;
	margin: 0 auto;
}

/*Tab List*/
.tabs ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0 0 1rem 1rem;
	border-bottom: 3px solid grey;
}

/*Buttons*/
.tabs ul li a {
	display: block;
	padding: 0.75rem 1.25rem;
	background: lavender;
	color: indigo;
	border-radius: 0.5rem 0.5rem 0 0;
	margin-right:0.5rem;
}

.tabs ul li a:hover {
	background: whitesmoke;
}

/*Display Panels*/
#tabpanel1 #tabpanel2 #tabpanel3 {
	display: ;
	padding: 1.5rem;
	border: 3px solid hotpink;



}