/* 
8. Add some suitable colours and other design elements to the page, but consider legibility—make sure that the page is easy to read and that there are no contrast issues.
9. Validate your CSS to be sure there are no errors at https://jigsaw.w3.org/css-validator/.
10. Be sure to include regular Git commits describing each stage of your work from start to finish so that the development process is well-documented (this is important). Push all changes to a remote repository (like Github).
12.No 3rd-party CSS themes or frameworks are permitted. All CSS and HTML must be your own work.*/


/* 4. Apply a CSS reset or normalization technique that also addresses box-sizing.*/
html{
    box-sizing: border-box;
    background-image: url("img/always-and-forever.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, main, h1, h2, h3, p, blockquote {
    margin: 0;
    padding: 0;
    text-align: center;
}


/*5. Select two typefaces that would be suitable for the lyrics - one for the page headings, and another for the page body. Be sure to consider readability—display fonts are designed for headings, while other fonts were made for large blocks of text (called body copy). You may use a font-embedding service like Google Fonts if you wish.*/
/*7. Employ the typographic techniques learned in this class to style the text using the two typefaces that you have selected.*/


h1, h2, h3 {
    font-family: 'Saira condensed', sans-serif;
    color: hsl(5 72% 46%); 
    text-shadow: 1.5px 1px 1px black;
}

figure img {
    width: 100%;
    max-width: 180px;
    display: block;
    margin-left: 8rem;
    margin-bottom: 1.5rem;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(19 99 85);
    text-shadow: 1px 1px 1px #0b3d34;
}

/*6. Use either CSS Flexbox or Grid (or a combination of both) to build a simple but effective layout for the page.*/
main {
    
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}
article {
    flex: 2;
    flex-basis: 60%;
    border: dotted violet;
}

blockquote {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: dashed red;
}

aside {
    flex: 1;
    flex-basis: 40%;
    border: dotted purple;
}

footer {
    text-align: center;
}


