/* 

6. Use either CSS Flexbox or Grid (or a combination of both) to build a simple but effective layout for the page.
7. Employ the typographic techniques learned in this class to style the text using the two typefaces that you have selected.
8. Add some suitable colours and other design elements to the page, but consider legibility—make sure that the page is easy to read and that there are no contrast issues.
9. Validate your CSS to be sure there are no errors at https://jigsaw.w3.org/css-validator/.
10. Be sure to include regular Git commits describing each stage of your work from start to finish so that the development process is well-documented (this is important). Push all changes to a remote repository (like Github).
11. Include some fine-print at the bottom of the page with links to any resources referenced in the creation of your assignment.
12. No 3rd-party CSS themes or frameworks are permitted. All CSS and HTML must be your own work.*/


/* 4. Apply a CSS reset or normalization technique that also addresses box-sizing.*/
html{
    Box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body, h1, h2, h3, p, blockquote {
    margin: 0;
    padding:font-family:  0;
}


/*5. Select two typefaces that would be suitable for the lyrics - one for the page headings, and another for the page body. Be sure to consider readability—display fonts are designed for headings, while other fonts were made for large blocks of text (called body copy). You may use a font-embedding service like Google Fonts if you wish.*/

h1, h2, h3 {
    font-family: 'Saira condensed', sans-serif;
    color: midnightblue; 
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: silver;
}

/*6. Use either CSS Flexbox or Grid (or a combination of both) to build a simple but effective layout for the page.*/




