@charset "utf-8";

html {
    font: 120%/1.2 "Trebuchet MS", Arial, Helvetica, sans-serif;
}
/*Collapse borders */
table {
    border-collapse: collapse;
/* Adjust placement of table caption */
    caption-side: top;
/* Try different values for table-layout (https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout) in conjunction with the width property. */
    width: 100%;
    table-layout: auto;
}

/* Adjust padding for usability with TH and TD */
td, th {
    border: 1px solid rgb(41, 7, 103);
    padding: 0.5em;
}
/*Align table headings in the table body */
tbody th {
    text-align: left;
}
/* Zebra striping for rows */
tbody tr:nth-child(odd) {
    background-color: rgba(140, 141, 140, 0.1);
}
tbody tr:nth-child(even) {
    background-color: rgb(232, 225, 225);
}
/*font weight on td*/
tbody tr td {
    color: rgb(6, 0, 0);
}
tfoot td {
    font-size: 70%;
    background-color: rgb(239, 239, 235);
}
caption {
    font-size: 150%;
}
