html {
    font-family: "Noto Serif", Georgia, serif;
    color: darkslategray;
    line-height: 3.5;
}

body {
    background: hsl(0 0% 98%);
    padding: 2rem;
}


/*HEADER*/

header h1 {
    font-size: 2rem;
    color: red;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

header p {
    font-size: 0.8rem;
}


/*MAIN LAYOUT*/

main {
     display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    margin-top: 2rem;
}

main section: nth-of-type h2
main section: nth-of-type h3 {

}
   