html {
    font-family: "Noto Serif", Georgia, serif;
    color: darkslategray;
    line-height: 3.5;
}

body {
    background: hsl(0 0% 98%);
    padding: 2rem;
}


/*HEADER*/

header h1 {
    font-size: 2rem;
    color: red;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

/*DATE & PRINT INFO*/
header p {
    font-size: 0.8rem;
}


/*MAIN LAYOUT*/

main {
     display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
    margin-top: 2rem;
}

/*COLOURS*/
main section:nth-of-type(1) h3 {
    color: #149916;
}
  
main section:nth-of-type(2) h3 {
    color: hsl(330 82% 42%);
}

main section:nth-of-type(3) h3 {
    color: rgb(53 151 212);
}

/*LOWERCASE H2'S*/

main section:nth-of-type(1) h2 {
    text-transform: lowercase;
}

main section:nth-of-type(2) h2 {
    text-transform: lowercase;
}
main section:nth-of-type(3) h2 {
    text-transform: lowercase;
}