/*======GENERAL PAGE STYLE=====*/
html {
     font-family: "Noto Serif", Georgia, serif;
     color: black;
     transform: skew(2deg);

}
body {
     background: hsl(0 0% 98%);
     padding: 2rem;
     line-height: 6;
}


/*======HEADER=====*/
header h1 {
     font-size: 5rem;
     color: rgb(255, 94, 0);
     text-transform: lowercase;
     font-weight: 300;
     letter-spacing: 2px;
     margin-bottom: 0.3em;
}

/*======DATE & PRINT INFO=====*/
header p {
     font-size: 0.8rem;
}


/*======MAIN LAYOUT=====*/
main {
     display: grid;
     grid-template-columns: 1.5fr 2fr;
     gap: 2.3rem;
     margin-top: 0.5em;
}

/*======MAIN SECTION & ASIDE=====*/
main section {
     grid-column: 2;
     line-height: 2em;
     font-size: 12px;

}
main aside:first-of-type {
     grid-column: 1;
     grid-row:1;
     line-height: 0.1em;
     font-size: 12px;
}
main aside:nth-of-type(2) {
     line-height: 1em;
     grid-column: 1em;
     grid-row: 2;
     background: rgb(242, 242, 245);
     padding: 1.5rem;
     display: inline-block;
     box-shadow: 0 1.5px 8px rgb(255, 94, 0, 12);
}



/*======COLOURS=====*/
main section:nth-of-type(1) h3 {
    color: #149916;
}
main section:nth-of-type(2) h3 {
    color: hsl(330 82% 42%);

}
main section:nth-of-type(3) h3 {
    color: rgb(53 151 212);
}

/*======LOWERCASE H2'S=====*/
main section:nth-of-type(1) h2 {
    text-transform: lowercase;

}
main section:nth-of-type(2) h2 {
    text-transform: lowercase;
}
main section:nth-of-type(3) h2 {
    text-transform: lowercase;
}

/*======CONTENT & SPACING======*/
main section p {
     margin-bottom: 1rem;
     line-height: 0.8rem;
}
main section ul, 
main section li {
   line-height: 1.1;
   margin-bottom: 0.2rem;
}

/*=======BLOCKS OF COLOUR====== more information was used from: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/content*/
main section:nth-of-type(1) h2::before {
    content: " ";
    display: block;
    background-color: #3da329;
    width: 100%;
    height: 20px;

}
main section:nth-of-type(2) h2::before {
    content: " ";
    display: block;
    background-color: hsl(330 82% 42%);
    width: 100%;
    height: 20px;


}
main section:nth-of-type(3) h2::before {
    content: " ";
    display: block;
    background-color: rgb(53 151 212);
    width: 100%;
    height: 20px;

}